
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(238, 238, 238);
    margin: 40px 150px;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-columns: 70% auto;
    gap: 30px;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

nav {
    display: inline-block;
    position: absolute;
    right: 0%;
    bottom: 0%;
    padding: 15px;
}

header {
    grid-area: header;
    border-bottom: 2px solid black;
    position: relative;
}

header ul {
    text-decoration: none;
}

header ul li{
    margin-right: 15px;
    font-size: 16px;
}

header li {
    display: inline-block;
}

h1{
    display: inline-block;
    font-size: 40px;
}

h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.author {
    font-family:'Times New Roman', Times, serif;
    width: 300px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 2px solid lightgray;
}

span {
    margin-left: 190px;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

.first-section h2 {
    margin-bottom: 15px;
}

.first-section {
    margin-bottom: 40px;
}

.first-section div {
    margin-bottom: 15px;
}

.first-section img {
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
}

.second-section {
    margin-bottom: 40px;
}

.second-section div {
    margin-bottom: 15px;
}

.second-section h3 {
    margin-bottom: 20px;
}

.third-section h3 {
    margin-bottom: 20px;
}

.third-section img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.third-section div {
    margin-bottom: 15px;
}

aside {
    margin-left: 20px;
}


aside li {
    margin-left: 30px;
    padding: 2px;
    list-style: disc;
}

aside h3 {
    margin-bottom: 15px;
    font-weight: 900;
}