
body {
    font-family: Raleway, sans-serif ;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

.first-ul {
    list-style-type: square;
}

.second-ul {
    list-style-type: disc;
}

.third-ul {
    list-style-type: circle;
}